//.highlight {
//    .k, .kt { color: $color13; }
//    .nn, .nc { color: $color11; }
//    .nf { color: $color12; }
//    .s, .sc { color: $color14; }
//    .cp, .c1 { color: $color7; }
//    .m, .mi, .mh, .se { color: $color11; }
//}
