$code:          #141418;
$background:    #202126;

$color0:        #210a1c;
$color1:        #cf511f;
$color2:        #67a217;
$color3:        #f3902c;
$color4:        #1f7d97;
$color5:        #c62a6e;
$color6:        #158e5a;
$color7:        #aeafb7;
$color8:        #5f3d59;
$color9:        #ff966c;
$color10:       #a8eb4d;
$color11:       #ffbb76;
$color12:       #63b6ce;
$color13:       #e96fa4;
$color14:       #52c091;
$color15:       #dededf;
