@import "colours";

@font-face {
	font-family: 'Roboto Flex';
	font-display: swap;
	font-weight: 400 800;
	font-stretch: 60% 150%;
	font-style: oblique 0deg 10deg;
	src: url('/assets/fonts/roboto-flex/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf') format(truetype) tech(variations);
}

@font-face {
	font-family: 'Berkeley Mono';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('/assets/fonts/berkeley-mono/BerkeleyMono-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Berkeley Mono';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('/assets/fonts/berkeley-mono/BerkeleyMono-Bold.woff2') format('woff2');
}

@mixin body-text {
	font-family: 'Roboto Flex', Inter, Helvetica, sans-serif;
	font-stretch: 60%;
	font-weight: 400;
}

@mixin title-text {
	font-family: 'Roboto Flex', Inter, Helvetica, sans-serif;
	font-stretch: 150%;
	font-weight: 800;
	font-style: oblique 10deg;
}

@mixin mono-text
{
	font-family: 'Berkeley Mono', 'Inconsolata', 'Roboto Mono', monospace;
}
