@import "colours";

html {
    font-family: Inter, Helvetica, sans-serif;
    font-size: 14px;

    @media (min-width: 768px)
    {
        font-size: 16px;
    }
}

code, pre {
    font-family: Iosevka, monospace;
    background: $code;
    padding: 2px 4px;
    border-radius: 4px;
}

pre {
    padding: 1rem;
    overflow: scroll;

    code {
        padding: 0;
    }
}

@mixin header-text {
    font-weight: 900;
    color: $color5;
}

@mixin header-link {
    @include header-text;
    text-decoration: none;

    &:hover {
        color: $color13;
    }

    &:hover, &:active {
        text-decoration: underline;
    }
}

@mixin title-text {
    @include header-text;
    font-size: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include header-text;
    margin-top: 2rem;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; }

a {
    color: $color3;

    &:hover {
        color: $color11;
    }
}

blockquote {
    border-left: 0.5rem solid $color5;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
