---
---

@import "reset";
@import "colours";
@import "typography";
@import "layout";
@import "code";
@import "patterns";

body {
	background-color: var(--background-color);
	@include circuit-board;

	@include body-text;
	font-size: 16px;
	color: var(--content-color);

	padding: 2rem;
}

@mixin block {
	border: 2px solid var(--border-color);
	box-shadow: 0.5rem 0.5rem 0 0 var(--shadow-color);
	background-color: var(--foreground-color);
}

@mixin block-button
{
	@include block;

	&:hover {
		border: 2px solid var(--border-color-hovered);
		box-shadow: 0.5rem 0.5rem 0 0 var(--shadow-color-hovered);
		background-color: var(--foreground-color-hovered);
	}

	transition: all 0.2s ease-in;
}

nav {
	display: flex;
	flex-direction: row;
	gap: 1rem;

	height: 5rem;
	margin-bottom: 2rem;
	line-height: 5rem;

	.navbar__brand {
		@include block-button;
		background-color: var(--secondary-color);

		&:hover {
			background-color: var(--secondary-color);
		}

		a {
			display: block;
			height: 100%;
			padding: 0 2rem;

			color: var(--foreground-color);

			@include title-text;
			font-size: 2rem;
			text-decoration: none;
		}
	}

	.navbar__author {
		@include block;

		flex-grow: 1;
		padding: 0 2rem;

		@include title-text;
		font-size: 1.5rem;
	}
}

.youtube-video {
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 56.25%;
	margin-bottom: 1.5rem;

	iframe {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}
}
