---
---

@import "reset";
@import "colours";
@import "typography";
@import "layout";
@import "code";
@import "patterns";

* {
	transition: all 0.2s ease-in;
}

body {
	background-color: var(--background-color);
	@include circuit-board;

	@include body-text;
	font-size: 16px;

	@media (min-width: 800px) {
		font-size: 18px;
	}

	color: var(--content-color);
}

@mixin block {
	border: 2px solid var(--border-color);
	box-shadow: 0.5rem 0.5rem 0 0 var(--shadow-color);
	background-color: var(--foreground-color);

	transition: all 0.2s ease-in;
}

@mixin block-button
{
	@include block;

	&:hover {
		border: 2px solid var(--border-color-hovered);
		box-shadow: 1rem 1rem 0 0 var(--shadow-color-hovered);
		background-color: var(--foreground-color-hovered);
	}

	transition: all 0.2s ease-in;
}

nav {
	display: grid;
	column-gap: 2rem;
	row-gap: 0.5rem;

	@media (min-width: 1024px)
	{
		grid-template-columns: auto 1fr;
	}

	margin: 2rem;

	.navbar__brand {
		@include block-button;

		a {
			display: block;
			height: 100%;

			color: var(--content-color);

			&:hover {
				color: var(--content-color-hovered);
			}

			@include title-text;
			text-decoration: none;

			padding: 0 1.5rem;
			font-size: 1.5rem;
			line-height: 3rem;

			@media (min-width: 1024px) {
				padding: 0 2rem;
				font-size: 2rem;
				line-height: 5rem;
			}
		}
	}

	.navbar__author {
		@include block;

		flex-grow: 1;

		@include title-text;

		padding: 0 1.5rem;
		font-size: 1.25rem;
		line-height: 2rem;

		@media (min-width: 1024px)
		{
			padding: 0 2rem;
			font-size: 1.5rem;
			line-height: 5rem;
		}
	}
}

.posts {
	display: grid;

	grid-template-columns: 1fr;

	@media (min-width: 800px)
	{
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: 1366px)
	{
		grid-template-columns: repeat(4, 1fr);
	}

	column-gap: 2rem;
	row-gap: 2rem;
	margin: 0 2rem 3rem 2rem;
}

.hero {
	position: relative;
	z-index: 0; /* establishes stacking context */

	img {
		z-index: -999;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&::after {
		z-index: -998;
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;

		background: var(--secondary-color);
		opacity: 0.8;

		transition: all 0.2s ease-in;
	}
}

.post {
	@include block-button;
	padding: 1rem;
	position: relative;

	.hero {
		height: 10rem;
	}

	.post__title {
		position: absolute;
		width: 100%;
		max-height: 100%;
		bottom: 0;
		padding: 1rem;

		&--text {
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;

			@include title-text;
			font-size: 1.5rem;
			color: var(--cover-text-color);

			transition: all 0.2s ease-in;
		}
	}

	.post__content {
		margin-top: 1rem;
		margin-bottom: 1rem;
		text-align: justify;
	}

	.post__read-more {
		display: inline-block;
		position: absolute;
		bottom: 1rem;
		right: 1rem;
		height: 1.5rem;

		svg {
			color: var(--content-color);

			transition: all 0.2s ease-in;
		}
	}

	&:hover {
		cursor: pointer;

		.hero {
			&::after {
				background: var(--secondary-color-hovered);
			}

			.post__title--text {
				color: var(--cover-text-color-hovered);
			}
		}

		.post__content {
			color: var(--content-color-hovered);
		}

		.post__read-more {
			svg {
				color: var(--content-color-hovered);
			}
		}
	}
}

.article {
	@include block;
	margin: 0 2rem 5rem 2rem;
	max-width: 90rem;

	.hero {
		min-height: 15rem;
		@media (min-width: 800px) {
			min-height: 25rem;
		}
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 5rem;

		.article__title {
			@include title-text;
			color: var(--cover-text-color);
			font-size: 2rem;
			@media (min-width: 800px) {
				font-size: 3rem;
			}
		}

		.article__subtitle {
			@include title-text;
			color: var(--cover-text-color);
			font-size: 1.5rem;
			@media (min-width: 800px) {
				font-size: 2rem;
			}
		}

		.article__date {
			@include title-text;
			color: var(--cover-text-color);
			font-size: 1.25rem;
			margin-top: 1.25rem;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		padding: 2rem;
		gap: 1rem;

		& > p:first-child {
			font-size: 1.5rem;
		}

		blockquote {
			border-width: 2px;
			border-left-width: 8px;
			border-style: solid;
			border-color: var(--border-color);
			padding: 1rem;
			font-style: italic;
		}

		h1, h2, h3, h4, h5, h6 {
			@include title-text;
			margin-top: 2rem;
			margin-bottom: 1rem;
		}

		a {
			color: var(--link-color);
		}

		& > .highlighter-rouge > .highlight {
			margin: 0 -2rem;
		}

		div.highlight {
			border-width: 2px 0;
			box-sizing: content-box;
			border-style: solid;
			border-color: var(--border-color);
			padding: 0 2rem;
			margin: 1rem 0;
			line-height: 1.5rem;
			background: repeating-linear-gradient(
				180deg,
				var(--background-color),
				var(--background-color) 1.5rem,
				var(--alternate-background-color) 1.5rem,
				var(--alternate-background-color) 3rem,
			);
			overflow: scroll;

			pre {
				margin: 0;
			}
		}

		table {
			border-collapse: collapse;

			thead th, thead tr {
				border-bottom: 2px solid var(--content-color);
			}

			th, td {
				border: 0;
			}

			tbody tr:nth-child(odd) {
				background-color: var(--background-color);
			}

			tbody tr:nth-child(even) {
				background-color: var(--alternate-background-color);
			}
		}
	}

	&__stop {
		display: block;
		width: 24px;
		height: 24px;
		margin-top: 1rem;
		align-self: flex-end;
		background-color: var(--content-color);
	}
}

footer {
	@include mono-text;

	background: var(--footer-color);
	color: var(--footer-text-color);

	padding: 2rem;

	border-top: 0.25rem dashed var(--footer-text-color);

	h1 {
		text-transform: uppercase;
		font-size: 1rem;
		font-weight: 800;
	}

	.bom {
		display: grid;
		grid-template-columns: minmax(auto, 1fr) 5fr;
		column-gap: 1rem;
		row-gap: 0.5rem;
		margin: 1rem 0;
	}

	a {
		color: var(--footer-text-color);
		text-decoration: underline;
		text-decoration-thickness: 1px;

		transition: all 0.2s ease-in;

		&:hover {
			color: var(--content-color-hovered);
		}
	}

	.footer__signoff {
		margin-top: 1rem;
	}
}

.youtube-video {
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 56.25%;
	margin-bottom: 1.5rem;

	iframe {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}
}
