<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        {% include navbar.html %}
        <div class="article">
            <div class="hero">
                <p class="article__title">{{ page.title }}</p>
                <div>
                <p class="article__subtitle">{{ page.sub_title }}</p>
                <p class="article__date">{{ page.date | date: '%B %d, %Y' }}</p>
                </div>
                <img src="{{ page.image.path }}" alt="{{ page.title }}" class="article__header-hero">
            </div>
            <div class="article__content">
                {{ page.content }}
                <div class="article__stop"></div>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
